<div id="addition">
    {% set sum = 0 %}
    {% for component in recipe.recipeComponents %}
        <div class="ligne">
            <span>{{ component.component.label }}</span><span>x{{ component.quantity|number_format(3,',',' ') }}</span>
            {% set component_price = inventory_service.costForRecipeComponent(component) %}
            <span>{{ component_price|number_format(3,',',' ') }}</span>
        </div>
        {% set sum = sum + component_price %}
    {% endfor %}

    <div class="ligne">
        <span>Cout horaire x temps</span>
        <span>{{ app.user.coutHoraire|number_format(3,',',' ') }} x {{ recipe.estimatedHours }}</span>
        {% set add = app.user.coutHoraire*recipe.estimatedHours %}
        <span>{{ add|number_format(3,',',' ') }}</span>
    </div>
    {% set sum = sum + add %}

    <div class="ligne">
        <span>Charges horaires x temps</span>
        <span>{{ app.user.chargeByHour|number_format(3,',',' ') }} x {{ recipe.estimatedHours }}</span>
        {% set add = app.user.chargeByHour*recipe.estimatedHours %}
        <span>{{ add|number_format(3,',',' ') }}</span>
    </div>
    {% set sum = sum + add %}

    <div class="ligne">
        <span>Marge souhaitée</span>
        <span>{{ recipe.marge|number_format(2,',',' ') }}%</span>
        {% set add = app.user.coutHoraire*recipe.estimatedHours %}
        <span>{{ add|number_format(3,',',' ') }}</span>
    </div>
    {% set sum = sum + add %}

    {% for taxe in recipe.taxes %}
        <div class="ligne">
            <span>{{ taxe.libelle }}</span>
            {% set amount = 1-(taxe.value/100) %}
            {% if taxe.type == constant("\\App\\Entity\\Taxe::TYPE_PERCENTAGE") %}
                <span>{{ taxe.value|number_format(2,',',' ') }}%</span>
                {% set add = sum/amount - sum %}
            {% else %}
                <span></span>
                {% set add = amount %}
            {% endif %}
            <span>{{ add|number_format(3,',',' ') }}</span>
        </div>
        {% set sum = sum + add %}
    {% endfor %}

    <hr/>
    <div class="ligne">
        <span>Total</span>
        <span>{{ sum|number_format(3,',',' ') }}</span>
    </div>


</div>
