{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <div class="card-body p-3">
                {{ form_row(form.libelle) }}
                {{ form_row(form.description) }}
                <div class="row">
                    <div class="col-6">{{ form_row(form.value) }}</div>
                    <div class="col-6">{{ form_row(form.type) }}</div>
                </div>
                <div class="row">
                    <div class="col-6">{{ form_row(form.isDefault) }}</div>
                    <div class="col-6">{{ form_row(form.enabled) }}</div>
                </div>
                <button class="btn btn-primary btn-sm">{{ button_label|default('button.default.add'|trans) }}</button>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
