{% extends 'base.html.twig' %}


{% block title %}{{ 'title.dashboard.index'|trans }} {{ parent() }}{% endblock %}
{% block contentHeader %}
    {% include('tools/content_header.html.twig') with {title:'title.dashboard.index'|trans} %}
{% endblock %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{app.user.receipts|length}}</h3>

                            <p>Recettes</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-receipt"></i>
                        </div>
                        <a href="{{ url('recipe_index') }}" class="small-box-footer">Mes recettes <i
                                    class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ inventory_service.countQuantity() }}</h3>
                            <p>Elements dans l'inventaire</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-boxes"></i>
                        </div>
                        <a href="{{ url('inventory_index') }}" class="small-box-footer">Mes composants <i
                                    class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ inventory_service.countTotalPrice()|number_format(2,',',' ') }}
                                <small>{{ app.user.moneyUnit }}</small></h3>

                            <p>Valeur de mon inventaire</p>
                        </div>

{#                        <a href="#" class="small-box-footer"> Créer <i class="fas fa-arrow-circle-right"></i></a>#}
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
{% endblock %}