{% extends 'base.html.twig' %}

{% block title %}{{ "title.recipe.edit"|trans }} {{ parent() }}{% endblock %}

{% block contentHeader %}
    {% include 'tools/content_header.html.twig' with {title: "title.recipe.edit"|trans } %}

{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ "title.recipe.edit"|trans }}</h3>
        </div>
        <div class="card-body p-3">
            {{ include('front/recipe/_form.html.twig', {'button_label': 'button.default.edit'|trans }) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('form_recipe') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('form_recipe') }}
{% endblock %}