{% extends 'base.html.twig' %}

{% block title %}{{ "title.recipe.index"|trans }} {{ parent() }}{% endblock %}
{% block contentHeader %}
    {% include 'tools/content_header.html.twig' with {title: "title.recipe.index"|trans } %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <a data-intro="{{ "intro.text.recipe.add"|trans }}" class='btn btn-sm btn-success float-right'
               href="{{ path('recipe_new') }}"><i
                        class="fas fa-plus "></i> {{ "button.default.add"|trans }}</a>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-3">

                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-info text-white"
                         style="background: lightblue url('{{ recipe.photoPath }}') center center;">
                        <h3 class="widget-user-username">{{ recipe.label }}</h3>
                        {#                        <h5 class="widget-user-desc">Web Designer</h5>#}
                    </div>
                    <div class="widget-user-image text-center">
                        {% if recipe.photoPath is null %}
                            <div class="img-circle"><i class="fas fa-receipt fa-3x text-info"></i></div>
                        {% else %}
                            <img class="img-circle" src="{{ recipe.photoPath }}" alt="User Avatar">
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ recipe.estimatedHours|number_format(2,',',' ') }}</h5>
                                    <span class="description-text">{{ "text.hours"|trans }}</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ recipe.recipeComponents|length|number_format(0,',',' ') }}</h5>
                                    <span class="description-text">{{ "entity.recipe.label.recipeComponents"|trans }}</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">PRODUCTS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="d-flex">
{#                        <div class=" flex-fill">#}
{#                            <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-square btn-block btn-dark btn"><i class="fas fa-eye"></i></a>#}
{#                        </div>#}
                        <div class=" flex-fill">
                            <a {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.edit"|trans }}"{% endif %}
                               href="{{ path('recipe_edit', {'id': recipe.id}) }}" title="Modifier la recette"
                               class="btn btn-info btn-block btn-square "><i class="fas fa-edit"></i></a>
                        </div>
                        <div class=" flex-fill">
                            <span {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.delete"|trans }}"{% endif %}> {{ include('front/recipe/_delete_form.html.twig') }}</span>
                        </div>
{#                        <div class=" flex-fill">#}
{#                            <a {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.calcul"|trans }}"{% endif %}#}
{#                               data-href="{{ path('recipe_calcul', {'id': recipe.id}) }}" data-toggle="modal"#}
{#                               data-target="#detailModal" title="Voir le calcul"#}
{#                               class="btn btn-default btn-block btn-square "><i class="fas fa-search-dollar"></i></a>#}
{#                        </div>#}
                        <div class=" flex-fill">
                            {% if recipe.notEndedRecipeFabrication is null %}
                                <span {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.fabricate"|trans }}"{% endif %}>
                                                    <a
                                                            title="Fabriquer la recette"
                                                            class="btn btn-success btn-block btn-square "
                                                            href="{{ url("recipe_fabricate",{id: recipe.id}) }}"><i
                                                                class="fas fa-play"></i></a></span>
                            {% else %}
                                <span {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.stop_fabricate"|trans }}"{% endif %}>
                                                    <a
                                                            title="Terminer la fabrication"
                                                            class="btn btn-danger btn-block btn-square "
                                                            href="{{ url("recipe_continue_fabricate",{id: recipe.notEndedRecipeFabrication.id}) }}"><i
                                                                class="fas fa-stop"></i></a></span>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>

        {% else %}
        {% endfor %}

    </div>
    <div class="modal" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "title.recipe.addition"|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ "title.recipe.plz_wait_addition"|trans }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
