{% extends 'base.html.twig' %}

{% block title %}{{ "title.recipe.index"|trans }} {{ parent() }}{% endblock %}
{% block contentHeader %}
    {% include 'tools/content_header.html.twig' with {title: "title.recipe.index"|trans } %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "title.recipe.index"|trans }}</h3>
                    <a data-intro="{{ "intro.text.recipe.add"|trans }}" class='btn btn-sm btn-success float-right'
                       href="{{ path('recipe_new') }}"><i
                                class="fas fa-plus "></i> {{ "button.default.add"|trans }}</a>
                </div>
                <div class="card-body p-0">
                    <table class="table table-condensed" data-intro="{{ "intro.text.recipe.liste"|trans }}">
                        <thead>
                        <tr>
                            <th>{{ "entity.recipe.label.label"|trans }}</th>
                            <th class="text-right">{{ "entity.recipe.label.estimatedHours"|trans }}</th>
                            <th class="text-right">{{ "entity.recipe.label.recipeComponents"|trans }}</th>
                            <th class="text-right">
                                {{ "entity.recipe.label.costNow"|trans }}
                                <i class="help fas fa-question-circle text-info pointer" data-placement='top'
                                   data-content="{{ "entity.recipe.help.costNow"|trans }}"></i>
                            </th>
                            <th class="text-right">
                                {{ "entity.recipe.label.optimizedSellPrice"|trans }}
                                <i class="help fas fa-question-circle text-info pointer" data-placement='top'
                                   data-content="{{ "entity.recipe.help.sellpriceOptimized"|trans }}"></i>
                            </th>
                            <th class="text-right">
                                {{ "entity.recipe.label.recipe_marge"|trans }}
                                <i class="help fas fa-question-circle text-info pointer" data-placement='top'
                                   data-content="{{ "entity.recipe.help.marge"|trans }}"></i>
                            </th>
                            <th class="text-right">
                                {{ "entity.recipe.label.salary"|trans }}
                                <i class="help fas fa-question-circle text-info pointer" data-placement='top'
                                   data-content="{{ "entity.recipe.help.salary"|trans }}"></i>
                            </th>
                            <th>
                                {{ "entity.recipe.label.canDoIt"|trans }}
                                <i class="help fas fa-question-circle text-info pointer" data-placement='top'
                                   data-content="{{ "entity.recipe.help.canDoIt"|trans }}"></i>
                            </th>

                            <th>{{ "text.action"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for recipe in recipes %}
                            <tr>
                                <td>{{ recipe.Label }}</td>
                                <td class="text-right">
                                    {{ recipe.estimatedHours|number_format(2,',',' ') }}h
                                </td>
                                <td class="text-right">
                                    {{ recipe.recipeComponents|length|number_format(0,',',' ') }}
                                </td>
                                <td class="text-right">
                                    {{ recipe_service.estimatedCost(recipe)|number_format(2,',',' ') }} {{ app.user.moneyUnit }}
                                </td>
                                <td class="text-right">
                                    {{ recipe_service.sellPriceOptimized(recipe)|number_format(2,',',' ') }} {{ app.user.moneyUnit }}
                                </td>
                                <td class="text-right">
                                    {{ recipe_service.revenus(recipe)|number_format(2,',',' ') }} {{ app.user.moneyUnit }}
                                </td>
                                <td class="text-right">
                                    {{ (app.user.coutHoraire * recipe.estimatedHours)|number_format(2,',',' ') }} {{ app.user.moneyUnit }}
                                </td>
                                <td class="text-center">
                                    {% set canDoIt = recipe_service.canDoIt(recipe) %}
                                    {{ canDoIt  ? '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}
                                </td>
                                <td>
                                    {#                                    <a href="{{ path('recipe_show', {'id': recipe.id}) }}"#}
                                    {#                                       class="btn btn-default btn-xs"><i class="fas fa-eye"></i></a>#}
                                    <a {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.edit"|trans }}"{% endif %}
                                       href="{{ path('recipe_edit', {'id': recipe.id}) }}" title="Modifier la recette"
                                       class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                    <a {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.calcul"|trans }}"{% endif %}
                                       data-href="{{ path('recipe_calcul', {'id': recipe.id}) }}" data-toggle="modal"
                                       data-target="#detailModal" title="Voir le calcul"
                                       class="btn btn-default btn-sm"><i class="fas fa-search-dollar"></i></a>
                                    <span {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.delete"|trans }}"{% endif %}> {{ include('front/recipe/_delete_form.html.twig') }}</span>
                                    {% if recipe.notEndedRecipeFabrication is null %}
                                        <span {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.fabricate"|trans }}"{% endif %}>
                                        <a
                                                title="Fabriquer la recette"
                                                class="btn btn-success btn-sm"
                                                href="{{ url("recipe_fabricate",{id: recipe.id}) }}"><i
                                                    class="fas fa-play"></i></a></span>
                                    {% else %}
                                        <span {% if loop.index == 1 %}data-intro="{{ "intro.text.recipe.stop_fabricate"|trans }}"{% endif %}>
                                        <a
                                                title="Terminer la fabrication"
                                                class="btn btn-danger btn-sm"
                                                href="{{ url("recipe_continue_fabricate",{id: recipe.notEndedRecipeFabrication.id}) }}"><i
                                                    class="fas fa-stop"></i></a></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">{{ "text.no_recipe"|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "title.recipe.addition"|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ "title.recipe.plz_wait_addition"|trans }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}