{% extends 'base.html.twig' %}

{% block title %}{{ "title.recipe.start_recipe"|trans }} {{ parent() }}{% endblock %}

{% block contentHeader %}
    {% include 'tools/content_header.html.twig' with {title: "title.recipe.start_recipe"|trans } %}

{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "title.recipe.start_recipe %recipe%"|trans({'%recipe%':recipe.label}) }}</h3>
                </div>
                <div class="card-body p-3">
                    <div data-intro="{{ "intro.text.recipe.marge"|trans }}">
                        {{ form_row(form.quantity) }}
                    </div>
                    <div data-intro="{{ "intro.text.recipe.marge"|trans }}">
                        {{ form_row(form.marge) }}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "entity.recipe.label.recipeComponents"|trans }}</h3>
                </div>
                <div class="card-body p-0" data-intro="{{ "intro.text.recipe.components"|trans }}">
                    <table id="components-fields-list" class="table table-condensed">

                        <thead>
                        <tr>
                            <th>{{ "entity.recipe_component.label.component"|trans }}</th>
                            <th>{{ "entity.recipe_component.label.option"|trans }}</th>
                            <th>{{ "entity.recipe_component.label.quantity"|trans }}</th>
                            <th>{{ "entity.recipe_component.label.unit"|trans }}</th>
                        </tr>
                        </thead>
                        {% for component in recipe.recipeComponents %}
                            <tr>
                                <td>{{ component.component.label }}</td>
                                <td data-component="{{ component.component.id }}"></td>
                                <td>{{ component.quantity }}</td>
                                <td>{{ component.unit.libelle }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "entity.recipe.label.taxes"|trans }}</h3>
                </div>
                <div class="card-body p-3" data-intro="{{ "intro.text.recipe.taxes"|trans }}">
                    {{ form_widget(form.taxes) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "title.recipe.start_recipe %recipe%"|trans({'%recipe%':recipe.label}) }}</h3>
                </div>
                <div class="card-body p-3">
                    {% if fabrication.id is not null %}
                        <button type="submit" class="submit btn btn-primary btn-block" value="start"><i
                                    class="fas fa-play"></i> {{ "button.recipe_fabrication.continue"|trans }}</button>
                        <button type="submit" class="submit btn btn-danger btn-block"
                                value="stop"
                                data-title="{{ "title.recipe_fabrication.real_time"|trans }}"
                                data-hours="{{ fabrication.hours == 0 ? recipe.estimatedHours : fabrication.calculatedHours }}"
                        ><i class="fas fa-stop"></i> {{ "button.recipe_fabrication.stop"|trans }}</button>
                    {% else %}
                        <button type="submit" class="submit btn btn-primary btn-block" value="start"><i
                                    class="fas fa-play"></i> {{ "button.recipe_fabrication.start"|trans }}</button>
                        <button type="submit" class="submit btn btn-danger btn-block"
                                value="stop"
                                data-title="{{ "title.recipe_fabrication.real_time"|trans }}"
                                data-hours="{{ fabrication.hours == 0 ? recipe.estimatedHours : fabrication.calculatedHours }}"
                        ><i
                                    class="fas fa-stop"></i> {{ "button.recipe_fabrication.stop"|trans }}</button>
                        <button class="btn btn-info btn-block disabled" name="programmer"><i
                                    class="fas fa-clock-o"></i> {{ "button.recipe_fabrication.programmer"|trans }}
                        </button>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('form_recipe_fabrication') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('form_recipe_fabrication') }}
{% endblock %}