<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %} - Ma Forge.fr{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/ma-forge.ico') }}" />
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            {#            <li class="nav-item d-none d-sm-inline-block">#}
            {#                <a href="/" class="nav-link">Home</a>#}
            {#            </li>#}
            {#            <li class="nav-item d-none d-sm-inline-block">#}
            {#                <a href="#" class="nav-link">Contact</a>#}
            {#            </li>#}
        </ul>

        <!-- SEARCH FORM -->
{#        <form class="form-inline ml-3">#}
{#            <div class="input-group input-group-sm">#}
{#                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">#}
{#                <div class="input-group-append">#}
{#                    <button class="btn btn-navbar" type="submit">#}
{#                        <i class="fas fa-search"></i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
                        <img src="{{ asset('build/images/ma-forge-white.png') }}" alt="Ma-Forge.fr Logo" class="brand-image img-fluid"
                             style="opacity: .8">
            <span class="brand-text font-weight-light">Ma Forge</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="https://www.gravatar.com/avatar/{{ app.user.email|md5 }}" class="img-circle elevation-2"
                         alt="User Image">
                </div>
                <div class="info"><a>@{{ app.user.username }}</a><br/><br/>
                    <a href="{{ url('preference') }}" class="d-block"><i class="fas fa-cogs"></i> {{ "title.user.preference"|trans }} </a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="{{ url('recipe_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-receipt"></i>
                            <p>
                                Recettes
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url('inventory_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-boxes"></i>
                            <p>Inventaire</p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block contentHeader %}
        {% endblock %}
        <section class="content">
            <div class="container-fluid">
                {% for flash in app.flashes('danger') %}
                    <div class="alert alert-danger alert-dismissible fade show mt-2 mb-2">{{ flash }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for flash in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show mt-2 mb-2">{{ flash }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% for flash in app.flashes('warning') %}
                    <div class="alert alert-warning alert-dismissible fade show mt-2 mb-2">{{ flash }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </section>

    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <small>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a> pour le template.</small>
        <small>Copyright &copy; 2020 <a href="https://mouhaha-editions.com">Mouhaha-éditions</a> pour le reste.</small>

        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.2
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}

{% endblock %}
</body>
</html>
