{% extends 'base.html.twig' %}

{% block title %}{{ 'title.inventory.index'|trans }} {{ parent() }}{% endblock %}
{% block contentHeader %}
    {% include('tools/content_header.html.twig') with {title:'title.inventory.index'|trans} %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {{ form_start(form) }}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ "title.inventory.add"|trans }}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-3">
                {{ form_row(form.productLabel) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.unit) }}
                {{ form_row(form.price) }}

                    <button type="submit" class="btn btn-success btn-sm">Ajouter</button>
        </div>
    </div>
            {{ form_end(form) }}

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "title.inventory.index"|trans }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>{{ "entity.inventory.label.productLabel"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label.quantity"|trans }}</th>
                            <th class="text-center" style="width:80px;">{{ "entity.inventory.label.unit"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label.unitPrice"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label_supp.totalAmount"|trans }}</th>
                            <th>{{ "text.action"|trans }}</th>
                        </tr>


                        </thead>
                        {% for composant in components.entities %}
                            <tr>
                                <td>{{ composant.productLabel }}</td>
                                <td class="text-right">
                                    <a href="#" onclick="alert('Bientôt');" class="btn btn-default btn-xs"> <i class="fas fa-edit"></i></a>
                                    {{ composant.quantity|number_format(2,',',' ') }}
                                       </td>
                                <td class="text-center"><small>{{ composant.unit }}</small></td>
                                <td class="text-right">{{ composant.price|number_format(2,',',' ') }} {{ app.user.moneyUnit }}</td>
                                <td class="text-right">
                                    {{ (composant.price*composant.quantity)|number_format(2,',',' ') }} {{ app.user.moneyUnit }}
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}