{% extends 'base.html.twig' %}

{% block contentHeader %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Inventaire</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Inventaire</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    {{ form_start(form) }}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom du composant</th>
                            <th>Quantité</th>
                            <th>Prix Unitaire</th>
                            <th>Montant inventaire</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <th>{{ form_widget(form.productLabel) }}</th>
                            <th>{{ form_widget(form.quantity) }}</th>
                            <th>{{ form_widget(form.price) }}</th>
                            <th></th>
                            <th><button type="submit"><i class="fas fa-plus"></i></button></th>
                        </tr>

                        </thead>
                        {% for composant in components.entities %}
                        <tr>
                            <td>{{ composant.productLabel }}</td>
                            <td class="text-right">{{ composant.quantity|number_format(2,',',' ') }}</td>
                            <td class="text-right">{{ composant.price|number_format(2,',',' ') }}</td>
                            <td class="text-right">{{ (composant.price*composant.quantity)|number_format(2,',',' ') }}&euro;</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {{ form_end(form) }}
                </div>
            </div>


        </div>
    </section>
{% endblock %}