{% extends 'base.html.twig' %}

{% block title %}{{ 'title.inventory.index'|trans }} {{ parent() }}{% endblock %}
{% block contentHeader %}
    {% include('tools/content_header.html.twig') with {title:('title.inventory.index'|trans) ~ " - "~  component.label } %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "title.inventory.index"|trans }} - {{ component.label }}</h3>
                </div>
                <div class="card-body p-0">

                    <table class="table table-condensed" data-intro="{{ "intro.text.inventory.components"|trans }}">
                        <thead>
                        <tr>
                            <th>{{ "entity.inventory.label.productLabel"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label.quantity"|trans }}</th>
                            <th class="text-center" style="width:80px;">{{ "entity.inventory.label.unit"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label.unitPrice"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label_supp.totalAmount"|trans }}</th>
                            <th>{{ "text.action"|trans }}</th>
                        </tr>


                        </thead>
                        {% for inventory in inventories %}
                            {% include 'front/inventory/partial/inventory_line.html.twig' with {composant: inventory, i : loop.index} %}

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('inventory') }}
{% endblock %}