{% extends 'base.html.twig' %}

{% block title %}{{ 'title.inventory.index'|trans }} {{ parent() }}{% endblock %}
{% block contentHeader %}
    {% include('tools/content_header.html.twig') with {title:'title.inventory.index'|trans} %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "title.inventory.add"|trans }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-3" data-intro="{{ "intro.text.inventory.add_to_inventory"|trans }}">
                    <div class="row">
                        <div class="col-8">
                            {{ form_row(form.productLabel) }}</div>
                        <div class="col-4">
                    {{ form_row(form.optionLabel) }}
                        </div>
                    </div>
                    <div class="row">
{#                        <div class="col-6">{{ form_row(form.reference) }}</div>#}
                        <div class="col-4">{{ form_row(form.quantity) }}</div>
                        <div class="col-4">{{ form_row(form.unit) }}</div>
                        <div class="col-4">{{ form_row(form.price) }}</div>
                    </div>

                    <button type="submit" class="btn btn-success btn-sm">Ajouter</button>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ "title.inventory.index"|trans }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                    <table class="table table-condensed" data-intro="{{ "intro.text.inventory.components"|trans }}">
                        <thead>
                        <tr>
                            <th>{{ "entity.inventory.label.productLabel"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label.quantity"|trans }}</th>
                            <th class="text-center" style="width:80px;">{{ "entity.inventory.label.unit"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label.unitPrice"|trans }}</th>
                            <th class="text-right">{{ "entity.inventory.label_supp.totalAmount"|trans }}</th>
                            <th>{{ "text.action"|trans }}</th>
                        </tr>


                        </thead>
                        {% for composant in components.entities %}
                            {% include 'front/inventory/partial/inventory_line.html.twig' with {composant: composant, i : loop.index} %}

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('inventory') }}
{% endblock %}